<html>
 <head>
  <title>categories</title>
 </head>
 <body>
  <table border="1">
   <tr>
    <th>ID</th>
    <th>category</th>
    <th>feature</th>
    <th>quantity</th>
   </tr>
   <% @features.each { |feature| %>
    <tr>
     <td><%=h feature.id %></td>
     <td><%=h feature.category %></td>
     <td><%=h feature.feature %></td>
     <td><%=h feature.quantity %></td>
    </tr>
   <% } %>
  </table>
 </body>
</html>
