
<%

require "bayes1/tokenizer"
tokenizer = BayesOneTokenizer.new

  all_documents = BayesOneDocument.all(
    :trained => false,
    :limit   => 100)

  target_documents = all_documents.
    sort_by { rand }.
    slice(0, 3)

  target_documents.each { |document|
    

=begin
    tokens = tokenizer.tokenize(document.body)
    tokens.each { |token|
    }
=end

    #document.trained = true
    #document.save
  }


%>

<%#=h target_documents.inspect %>
<%#=h tokenizer.inspect %>

<% target_documents.each { |document| %>
<div><%=h document.category %></div>

<%
category = BayesOneCategory.find_or_create(:name => document.category)

%>
<div><%=h category.inspect %></div>
<% } %>
