<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>documents</title>
 </head>
 <body>
  <h1>文書一覧</h1>
  <table border="1">
   <tr>
    <th>ID</th>
    <th>カテゴリ</th>
    <th>本文</th>
    <th>学習済み</th>
   </tr>
   <% @documents.each { |document| %>
    <tr>
     <td><%=h document.id %></td>
     <td><%=h document.category %></td>
     <td><%=h document.body %></td>
     <td><%=h document.trained ? "Yes" : "No" %></td>
    </tr>
   <% } %>
  </table>
 </body>
</html>
