<html>
 <head>
  <title>categories</title>
 </head>
 <body>
  <h1>カテゴリ一覧</h1>
  <table border="1">
   <tr>
    <th>ID</th>
    <th>カテゴリ</th>
    <th>文書数</th>
   </tr>
   <% @categories.each { |category| %>
    <tr>
     <td><%=h category.id %></td>
     <td><%=h category.name %></td>
     <td><%=h category.quantity %></td>
    </tr>
   <% } %>
  </table>
 </body>
</html>
