<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>categories</title>
 </head>
 <body>
  <h1>特徴一覧</h1>
  <table border="1">
   <tr>
    <th>ID</th>
    <th>カテゴリ</th>
    <th>特徴</th>
    <th>出現数</th>
   </tr>
   <% @features.each { |feature| %>
    <tr>
     <td><%=h feature.id %></td>
     <td><%=h feature.category %></td>
     <td><%=h feature.feature %></td>
     <td><%=h feature.quantity %></td>
    </tr>
   <% } %>
  </table>
 </body>
</html>
